#wrapper {
    text-align: center;
}
body {
    background-color: deepskyblue;
    line-height:0;
}

#canvas {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    border-style: solid;
    border-color:black;
    background-color: aliceblue;
    display: inline-block;
    text-align: center;

}
.blocks {
    padding: 0;
    margin:0;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: black;
    background-color: deeppink;
    
    
}
.blocks1 {
    background-color: greenyellow;
}
