#wrapper {
    text-align: center;
}
body {
    background-color: deepskyblue;
    line-height:0;
}

#canvas {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    border-style: solid;
    border-color:black;
    background-color: bisque;
    display: inline-block;
    text-align: center;

}
.blocks {
    border-width: thin;
    padding: 0;
    margin:0;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    
    
}
.blocks1 {
    background-color: black;
}
button {

  display: inline-block;
  margin: 0 auto;
  padding: 0px 8px;
  font-size: 25px;
    

}
#buttons {
    text-align: center;
}

